[submodule "eureka-proyecto"]
	path = eureka-proyecto
	url = https://github.com/JimmyC001/eureka-proyecto.git
[submodule "ms-user"]
	path = ms-user
	url = https://github.com/JimmyC001/ms-user-proyecto.git
[submodule "cattleya"]
	path = cattleya
	url = https://github.com/JimmyC001/client-proyecto.git
[submodule "ms-provider"]
	path = ms-provider
	url = https://github.com/JimmyC001/ms-provider-proyecto.git
